<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.su.coupons.mapper.CouponsMapper">

    <resultMap id="BaseResultMap" type="com.su.coupons.domain/dao.Coupons">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="code" column="code" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="inventory" column="inventory" jdbcType="VARCHAR"/>
            <result property="activeTime" column="active_time" jdbcType="VARCHAR"/>
            <result property="couponsType" column="coupons_type" jdbcType="VARCHAR"/>
            <result property="state" column="state" jdbcType="INTEGER"/>
            <result property="distributeRule" column="distribute_rule" jdbcType="INTEGER"/>
            <result property="useRule" column="use_rule" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,code,name,
        inventory,active_time,coupons_type,
        state,distribute_rule,use_rule
    </sql>
</mapper>
